#header {
  position: fixed;
  display: inline;
  width: 10%;
}
#header .pro-sidebar {
  height: 100vh;
}
#header .closemenu {
  color: rgb(255, 255, 255);
  position: absolute;
  right: 0;
  z-index: 9999;
  line-height: 20px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 25px;
  top: 55px;
  cursor: pointer;
}
#header .pro-sidebar {
  width: 270px;
  min-width: 200px;
}
#header .pro-sidebar.collapsed {
  width: 80px;
  min-width: 80px;
}
#header .pro-sidebar-inner {
  color: rgb(255, 255, 255);
  box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
}
#header .pro-sidebar-inner .pro-sidebar-layout {
  overflow-y: hidden;
}
#header .pro-sidebar-inner{
  background-color: #000000a0;
}
#header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
  font-size: 20px;
  padding: 0 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul {
  padding: 0 5px;
}
.home-side-bar{
  color: white;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .link{
  color: rgb(255, 255, 255);
  margin: 10px 0px;
  font-weight: bold;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
  background-color: #fbeccd;
  color: rgb(0, 0, 0);
  border-radius: 3px;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
  color: #000;
}
#header .pro-sidebar-inner .pro-sidebar-layout .active {
  /* background-image: linear-gradient(0deg, #fea500 0%, #ffae00 100%); */
  background-color: #ff4d00;
  padding: 8px;
  border-radius: 15px;
}
#header .logo {
  padding: 20px;
}

@media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
}