.select_filter {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
}
.select_filter:focus{ 
    outline: none;
}

.select_filters {
    margin:10px auto 10px auto;	
    border:1px solid #d9d9d9;
    height:30px;
    overflow: hidden;
    width: 220px;
    position:relative;
}
.select_filters::after {
    content:"\025be";
     display:table-cell;
     padding-top:7px;
     text-align:center;
     width:30px;
     height:30px;
     background-color:#d9d9d9;
     position:absolute;
     top:0;
     right:0px;	
     pointer-events: none;
} 